.ListSp {
    width: 100%;
}

.TextHeader {
    width: 100%;
    color: #007bff;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin: 2% 0;
}

table {
    width: 90%;
    margin: 0 5%;
    padding: 2% 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

td,
th {
    text-align: center;
    border-left: 1px solid #ccc;
}

td {
    border-top: 1px solid #ccc;
    height: 25px;
}

.stt {
    width: 4%;
}

.nameDV {
    width: 37%;
}

.gia {
    width: 20%;
}

.idsp {
    width: 15%;
}

.sua {
    width: 10%;
}

.xoa {
    width: 8%;
}

.chiTiet {
    width: 8%;
}

.textHeader {
    font-size: 1.6rem;
    font-weight: 600;
}

#xoa {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    left: 35%;
}

.btn {
    background-color: #007bff;
    padding: 5px;
    width: 30%;
}

.btns {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.delete {
    background-color: #ff0000;
    padding: 8px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.user {
    width: 100%;
    margin-bottom: 3%;
    position: relative;
}

.rowTT {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.rowBuild {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    width: 22%;
    font-weight: 600;
}

.tinhtien {
    margin: 2% 0 2% 55%;
}

.total1 {
    width: 55%;
    font-weight: 600;
}

.sumit {
    margin: 0 0 0 64%;
    width: 160px;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
    color: white;
    background: #007bff;
    border-radius: 10px;
    cursor: pointer;
}

.iconadd {
    position: absolute;
    top: 0;
    right: 15%;
}

.gdAddKH {
    position: absolute;
    width: 60%;
    top: 1.6rem;
    left: 17%;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px 20px #ccc;
    padding: 2%;
}

.iconClose {
    position: absolute;
    top: 0.9rem;
    right: 2%;
    cursor: pointer;
}

.totalAdd {
    width: 30%;
    font-weight: 600;
}

.inputAdd {
    width: 55%;
}

.selectInput {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.TextHeaderSmall {
    font-size: 1.4rem;
    margin: 10px 0 20px;
}

.checkBox {
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.btnAdd {
    width: 94%;
    justify-content: flex-end;
}

.btnGreen {
    background-color: rgb(19, 203, 19);
}

.btnRed {
    background-color: #ff0000;
}