#home {
    width: 50%;
    margin: 10px 25%;
}

.textHeader {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.Lister {
    font-size: 1.4rem;
    font-weight: 600;
}

.ThanhVienTrongNhom {
    margin: 5px;
    font-size: 1.2rem;
}